<section class="advantages">
	<div class="advantages__container">
		<h2 class="advantages__tagline">Our Best Advantages</h2>
		<div class="advantages__items">
			<div class="advantages__item">
				<div class="advantages__img-wrapper">
					<img
						src="./assets/img/svg/storm.svg"
						alt="thunder"
						class="advantages__img"
					/>
				</div>
				<div class="advantages__info">
					<h3 class="advantages__title">Quiality Control</h3>
					<p class="advantages__text">
						The quality of the products offered is the main point of our
						philosophy. We created a special pharmaceutical control unit
						responsible for compliance with the licensing and quality
						requirements for each product. Our company fully controls the
						process of supply and storage of all medical substances, which
						eliminates the possibility of purchasing counterfeit or low-quality
						products from us.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__img-wrapper">
					<img
						src="./assets/img/svg/ticket.svg"
						alt="ticket"
						class="advantages__img"
					/>
				</div>
				<div class="advantages__info">
					<h3 class="advantages__title">Pricing Policy</h3>
					<p class="advantages__text">
						Since we cooperate directly with manufacturers and official
						suppliers, we are able to offer our customers the best prices. A
						wide selection of drugs will allow you to find an effective remedy
						at the best price. We are constantly trying to reduce the cost of
						medicines that are in greatest demand. Moreover, Happy Family Store
						regularly hold promotional days and events, thanks to which regular
						customers can purchase products at a much lower price.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__img-wrapper">
					<img
						src="./assets/img/svg/video.svg"
						alt="search"
						class="advantages__img"
					/>
				</div>
				<div class="advantages__info">
					<h3 class="advantages__title">Convenient Search</h3>
					<p class="advantages__text">
						You are on a pharmacy website specially designed to make it easier
						to find medications. The drugs are structured into categories, which
						allows you to select the necessary drugs for the disease or problem
						that worries you. Also, using the search bar, you can find
						medications according to a prescription. If you have any questions,
						you can always call or contact us using any convenient method.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__img-wrapper">
					<img
						src="./assets/img/svg/people.svg"
						alt="stickmans"
						class="advantages__img"
					/>
				</div>
				<div class="advantages__info">
					<h3 class="advantages__title">Staff and Service</h3>
					<p class="advantages__text">
						Everyone who comes to the Family Pharmacy is guaranteed to receive
						advice from experienced pharmacists and a friendly smile. Our
						employees know classic drugs and new products in the pharmaceutical
						market. If you want to buy medications online, but are in doubt or
						have additional questions, you can always turn to our specialists.
						If necessary, the pharmacist will recommend medications that will be
						ideal in each specific case.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__img-wrapper">
					<img
						src="./assets/img/svg/heart.svg"
						alt="heart"
						class="advantages__img"
					/>
				</div>
				<div class="advantages__info">
					<h3 class="advantages__title">Online Ordering</h3>
					<p class="advantages__text">
						We know well how critical it is to have access to proper
						medications. We offer a wide selection of medicines, supplements,
						cosmetics, and all related products from the best world
						manufacturers to maintain beauty and health. Ordering medications
						online provides access to medical supplies in any city. It is quick
						and convenient. This service is popular among our customers.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
