<section class="blog">
	<div class="blog__container container">
		<h2 class="blog__title">Discover Our Blog</h2>
		<div class="blog__cards">
			<div class="blog-card">
				<img src="./assets/img/blog.png" alt="doctor" class="blog-card__img" />
				<div class="blog-card__info">
					<p class="blog-card__text">
						Saving Money on Medication: 7 Practical Tips
					</p>
				</div>
			</div>
			<div class="blog-card">
				<img src="./assets/img/blog.png" alt="doctor" class="blog-card__img" />
				<div class="blog-card__info">
					<p class="blog-card__text">
						How Should Men Take Care of Their Health?
					</p>
				</div>
			</div>
			<div class="blog-card">
				<img src="./assets/img/blog.png" alt="doctor" class="blog-card__img" />
				<div class="blog-card__info">
					<p class="blog-card__text">
						Get Your Healthcare Consultation at Happy Family Store
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
