<header class="header">
	<div class="header-top">
		<div class="header-top__container container">
			<a href="/" class="header-logo">
				<img
					width="339"
					height="70"
					src="./assets/img/svg/logo.svg"
					alt="inscription Happy Family Store"
					class="header-logo__img"
				/>
			</a>
			<a id="header-cart" href="#" class="cart">
				<div class="cart__icon">
					<svg>
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</div>
				<div class="cart__content">
					<div>Your cart: <b>$0.00</b></div>
					<div class="cart__text text-red"><span>0</span> items</div>
				</div>
			</a>
		</div>
	</div>
	<div class="header-bot">
		<div class="header-bot__container container">
			<nav class="header__nav">
				<ul class="menu">
					<li class="menu-item menu-item-has-children">
						<a href="#">Our Story</a>
						<!--  -->
						<ul class="menu">
							<li class="menu-item">
								<a href="#">Help to Families</a>
							</li>
							<li class="menu-item">
								<a href="#">Management Team</a>
							</li>
							<li class="menu-item">
								<a href="#">Our Authors</a>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">Values</a>
						<!--  -->
						<ul class="menu">
							<li class="menu-item">
								<a href="#">Help to Families</a>
							</li>
							<li class="menu-item">
								<a href="#">Management Team</a>
							</li>
							<li class="menu-item">
								<a href="#">Our Authors</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">All Products</a>
					</li>
					<li class="menu-item">
						<a href="#">Search</a>
					</li>
					<li class="menu-item">
						<a href="#">Discover</a>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">Account</a>
						<!--  -->
						<ul class="menu">
							<li class="menu-item">
								<a href="#">Help to Families</a>
							</li>
							<li class="menu-item">
								<a href="#">Management Team</a>
							</li>
							<li class="menu-item">
								<a href="#">Our Authors</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">FAQ</a>
					</li>
				</ul>
			</nav>
			<div class="mobile-nav">
				<!-- 1 column -->
				<div class="menu-mobile">
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">Our Story</a>
							<svg class="menu-mobile-item__icon">
								<use href="./assets/img/svg/sprite.svg#arrow"></use>
							</svg>
						</div>
						<div class="menu-mobile-item__submenu">
							<a href="" class="menu-mobile-item__link">Help to Families</a>
							<a href="" class="menu-mobile-item__link">Management Team</a>
							<a href="" class="menu-mobile-item__link">Our Authors</a>
						</div>
					</div>
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">Values</a>
							<svg class="menu-mobile-item__icon">
								<use href="./assets/img/svg/sprite.svg#arrow"></use>
							</svg>
						</div>
						<div class="menu-mobile-item__submenu">
							<a href="" class="menu-mobile-item__link">Help to Families</a>
							<a href="" class="menu-mobile-item__link">Management Team</a>
							<a href="" class="menu-mobile-item__link">Our Authors</a>
						</div>
					</div>
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">All Products</a>
						</div>
					</div>
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">Search</a>
						</div>
					</div>
				</div>
				<!-- 2 column -->
				<div class="menu-mobile">
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">Discover</a>
						</div>
					</div>
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">FAQ</a>
						</div>
					</div>
					<div class="menu-mobile-item">
						<div class="menu-mobile-item__toggle">
							<a class="menu-mobile-item__link" href="#">Account</a>
							<svg class="menu-mobile-item__icon">
								<use href="./assets/img/svg/sprite.svg#arrow"></use>
							</svg>
						</div>
						<div class="menu-mobile-item__submenu">
							<a href="" class="menu-mobile-item__link">Help to Families</a>
							<a href="" class="menu-mobile-item__link">Management Team</a>
							<a href="" class="menu-mobile-item__link">Our Authors</a>
						</div>
					</div>
					<button class="btn btn-reset">Contact Us</button>
				</div>
			</div>
			<div class="menu-toggle">
				<span>Navigation Menu</span>
				<div class="menu-toggle__burger burger">
					<span></span>
				</div>
			</div>
			<button class="header__btn btn btn-reset">Contact Us</button>
		</div>
	</div>
</header>
