.footer {
	background-color: #00143a;

	&__container {
	}

	&__top-container {
		max-width: 1250px;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
		background: #000d25;
		border-radius: 0 0 12px 12px;
		margin-bottom: 36px;

		padding: 24px 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 32px 100px;
		@media screen and (max-width: 768px) {
			border-radius: 0;
		}
	}

	&__top {
	}

	&__support {
		display: flex;
		align-items: center;
		gap: 36px;

		@media screen and (max-width: 575px) {
			gap: 15px;
		}
	}

	&__support-icon {
		width: 36px;
		height: 36px;
		@media screen and (max-width: 575px) {
			width: 24px;
			height: 24px;
		}
	}

	&__support-link {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 17px;
		color: #4576d4;
		text-decoration: none;
		transition: color 300ms ease-in;
		@include hover {
			color: var(--white);
		}
		@media screen and (max-width: 575px) {
			font-size: 16px;
		}
	}

	&__bot {
		padding-bottom: 32px;

		.menu {
			flex-wrap: wrap;
			@media screen and (max-width: 575px) {
				flex-direction: column;
			}

			.menu-item {
				background-color: transparent;
				a {
					color: var(--white);
					@include hover {
						color: var(--red);
					}
				}
			}
		}
	}
	&__bot-container {
		gap: 24px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__copy {
		text-align: center;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 17px;
		color: #4576d4;
	}
}
