<footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<div class="footer__top-container">
				<div class="footer__support">
					<img
						width="36"
						height="36"
						src="./assets/img/svg/pin.svg"
						alt="geolocation pin"
						class="footer__support-icon"
					/>

					<a href="#" class="footer__support-link"
						>412 Termino Ave Long Beach, CA, 90814</a
					>
				</div>
				<div class="footer__support">
					<img
						width="36"
						height="36"
						src="./assets/img/svg/mail.svg"
						alt="mail"
						class="footer__support-icon"
					/>
					<a
						href="mailto:support@happyfamilystore.org"
						class="footer__support-link"
						>support@happyfamilystore.org</a
					>
				</div>
			</div>
		</div>
		<div class="footer__bot">
			<div class="footer__bot-container container">
				<ul class="menu">
					<li class="menu-item">
						<a href="#">Jon Opportunities</a>
					</li>
					<li class="menu-item">
						<a href="#">Return Policy</a>
					</li>
					<li class="menu-item">
						<a href="#">Cookie Policy</a>
					</li>
					<li class="menu-item">
						<a href="#">Disclaimer</a>
					</li>
				</ul>
				<div class="footer__copy">Copyright © 2024 · Happyfamilystore.org</div>
			</div>
		</div>
	</div>
</footer>
