<section class="hero">
	<div class="hero__inner">
		<div class="hero__container container">
			<div class="hero__content">
				<h1 class="hero__title">
					Happy Family Store – Online Pharmacy with Traditional Customer Values
				</h1>
				<p class="hero__text">
					Happy Family Store is a relatively young pharmaceutical company that
					is confidently gaining a leading position in this segment of the
					country’s market. We are constantly developing and trying to be more
					useful to our customers. The main goal of our company is to provide
					every individual with access to a wide range of products designed to
					support and promote health, well-being, beauty, and hygiene.
				</p>
			</div>
			<div class="hero__img-wrapper">
				<picture>
					<source
						width="345"
						height="435"
						srcset="./assets/img/hero-doctor-sm.png"
						media="(max-width: 420px)"
					/>
					<source
						srcset="./assets/img/hero-doctor-md.png"
						width="962"
						height="438"
						media="(max-width: 992px)"
					/>
					<img
						width="616"
						height="504"
						src="./assets/img/hero-doctor-all.png"
						alt="doctor"
						class="hero__img"
					/>
				</picture>
			</div>
		</div>
		<!--  -->
		<div class="hero__form-wrapper">
			<div class="form-group">
				<div class="form-group__inner">
					<form action="#" class="form">
						<input
							type="text"
							class="form__input"
							placeholder="Search product..."
						/>
						<button
							type="submit"
							class="form__btn btn-reset"
							aria-label="send form"
						>
							<svg>
								<use href="./assets/img/svg/sprite.svg#search"></use>
							</svg>
						</button>
					</form>
					<div class="form-group__catalog">
						<div class="form-group__list">
							<a href="#" class="btn-primary">Meloset</a>
							<a href="#" class="btn-primary">Lamisil</a>
							<a href="#" class="btn-primary">Dulcolax</a>
						</div>
						<a href="#" class="btn-primary btn-primary_md">See all products</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
