<section class="categories">
	<div class="categories__container container">
		<div class="categories__content">
			<div class="categories__top">
				<h2 class="categories__title">
					Why is it worth buying drugs at Happy Family Pharmacy?
				</h2>
				<p class="categories__text">
					The result of using certain medications depends on their properties,
					composition, and the integrity of the manufacturer and seller. We
					monitor all aspects and offer only high-quality medications. The drugs
					sold in Happy Family Pharmacy come only from official suppliers and
					have all the documents confirming their quality and effectiveness.
				</p>
				<p class="categories__text">
					The professional qualifications of our employees and the presence of
					all the necessary conditions for the proper storage of medications
					will ensure that you get only the best product. Moreover, guaranteed
					low prices will save time that you would spend searching for cheap
					options and traveling to different parts of the city. Constant
					promotions and discounts will make your purchase even more affordable.
				</p>
				<p class="categories__text">
					Finally, our reputation as a reliable partner and the health of
					everyone who makes a purchase is important to us. That is why we ask
					you to leave reviews on the purchased product.
				</p>
			</div>
			<div class="products">
				<h3 class="products__title">Our Main Product Categories</h3>
				<div class="products__wrapper">
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Men’s Health</span>
							<span class="category">Category</span>
						</div>
					</a>
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Hair Loss</span>
							<span class="category">Category</span>
						</div>
					</a>
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Anti-Alergy</span>
							<span class="category">Category</span>
						</div>
					</a>
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Personal Care</span>
							<span class="category">Category</span>
						</div>
					</a>
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Anti-Anxiety</span>
							<span class="category">Category</span>
						</div>
					</a>
					<a href="#" class="product-card">
						<img
							src="./assets/img/product.png"
							alt="doctors"
							class="product-card__img"
						/>
						<div class="product-card__info">
							<span class="product-card__link">Infections</span>
							<span class="category">Category</span>
						</div>
					</a>
				</div>
			</div>
			<div class="categories__bot">
				<h2 class="categories__title">Find More with Us</h2>
				<p class="categories__text">
					Online pharmacy services are very popular because they allow you to
					choose the necessary medication at a reasonable price without leaving
					home and wasting time searching. If you are looking for a specific
					medication or want to find options for the treatment of your health
					issue, continue to our Product Catalog. An accurate search feature as
					well as convenient breakdown into groups allows you to quickly find
					the right medicine.
				</p>
			</div>
		</div>
	</div>
</section>
